h1{color: rgb(255, 128, 0);}
h2{color: rgb(255, 128, 0);}
h3{color: rgb(255, 128, 0);}
h4{color: rgb(255, 128, 0);}
h5{color: rgb(255, 128, 0);}

body{background-color: lightgray;}

#navbar {
    background-color: #333;
    color: rgb(255, 149, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50x;
    font-size: 30px;
    font-weight: bold;
}

#navbar a {
    color: rgb(255, 149, 0);
    text-decoration: none;
}
#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 10px;
    margin: 0 4px;
}

#navbar ul li a:hover {
    background-color: #ffae00;
    border-radius: 5px;
}

.mujobrazek {
    width: 150px;
    border-radius: 100%;
    height: 150px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    
}

footer { display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}